@include laptop {
  .team {
    &__description {
      padding-left: 20px;
      padding-right: 10px;

      h2 {
        font-size: $font-size-x-l;
      }
    }
  }
}

@include tablet {
  .team {
    &__avatar {
      display: none;
    }

    &__avatar-small {
      display: inline-block;
      padding-right: 20px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 120px;
      }
    }

    &__media {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
    }
  }
}
